table {
    background-color: #eee;
}
td {
    width: 40px;
    height: 40px;
}

.empty {
    background-color: white;
}

.empty:hover {
    background:#eee;
}

.ship.hover {
    background-color: gray;

}

.ship {
    background-color: rgb(49, 49, 49);
}

.hit {
	border: 1px solid red;
}

.miss {
	border: 1px solid blue;
}