/**/

html{
  -background: linear-gradient(#696969, #708090);
  background: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  height: 100%;
}

#logo{
  display: block;
  margin: auto;
  width: 30%;
}

<<<<<<< HEAD
#rotate, .p1buttons, .p2buttons{
  display: inline;
||||||| 8ad45d8
/*Button styling*/
#button, #rotate, #resetbutton, #change{
=======
/*
--Button styling
*/
#button, #rotate, #resetbutton, #change{
>>>>>>> 654639d1673e87b54a154709316c44d62177f2d7
  margin: auto;
}

#button, #resetbutton{
  display: inline;
  margin: auto;
}


#rotate{
  margin-left: 10%;
  margin-right: 10%;
}

#button, #rotate, #resetbutton, .p1buttons, .p2buttons{
  font-family: "American Typewriter", serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
}

/*
--Board styling
*/
#player1, #player2 {
  -background-color: black;
  background-image: url(board.jpg);
  background-size: cover;
  position: fixed;

  border:  outset;
  border-width: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 30px;
}

#player1{ -float: left; -margin-left: 30%; left: 10%;}
#player2{ -float: right; -margin-right: 40%; left: 55%;}

/*
--Instruction Text Block
*/
#inst {
  display: block;
  -float:right;
  margin: auto;
<<<<<<< HEAD
  -margin-right: 50%;
  -margin: auto;
  -margin-right: 50%
  margin: auto;
  -margin-right: 50%
  -margin-top: 10%;
  -background-image: url(play1set.png);
  background-size:contain;
  background-repeat: no-repeat;
  width: 23%;
  height: 100px;
  border: 3px solid black;
||||||| 8ad45d8
  width: 40%;
  height: 50px;
  -border: 3px solid black;

  text-align: center;
  color:white;
  font-family: "American Typewriter", serif;
  font-size: 30px;
=======
  width: 40%;
  height: 50px;

  text-align: center;
  color:white;
  font-family: "American Typewriter", serif;
  font-size: 30px;
>>>>>>> 654639d1673e87b54a154709316c44d62177f2d7
}

<<<<<<< HEAD
/*Board lables*/
||||||| 8ad45d8
/*Board 'P1' and 'P2' icons*/
=======
/*
--Board 'P1' and 'P2' icons
*/
>>>>>>> 654639d1673e87b54a154709316c44d62177f2d7
#p1, #p2{
  display: block;
<<<<<<< HEAD
  height: 8%;
  width: 8%;
||||||| 8ad45d8
  height: 5%;
  width: 5%;
=======
>>>>>>> 654639d1673e87b54a154709316c44d62177f2d7
  float: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
  margin-bottom: 0%;
}
#p1{ height: 5%; width: 5%; float: left; margin-left: 15%;}
#p2{ height: 6%; width: 6%; float: right; margin-right: 15%;}

<<<<<<< HEAD
#p1{ float: left;margin-left: 15%;}
#p2{ float: right;margin-right: 15%;}


||||||| 8ad45d8
#p1{ float: left; margin-left: 15%;}
#p2{ float: right; margin-right: 15%;}


=======
/*table*/
>>>>>>> 654639d1673e87b54a154709316c44d62177f2d7
td {
    width: 40px;
    height: 40px;
    float: center;
    border-radius: 5px;
}

/*when a spot is empty*/
.empty {
    background-color: white;
}

.empty:hover {
    background:#eee;
}


.ship.hover {
    background-color: gray;

}

.ship {
    background-color: rgb(49, 49, 49);
}

/*
--Hit and Miss directions
*/
.hit {
  background-image: url(hit.jpg);
  background-size: cover;

}

.miss {
  background-image: url(miss.jpg);
  background-size: cover;
}
