/**/

html{
  background: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  height: 100%;
  overflow-y:hidden;
  overflow-x: hidden;
}

/*Battleship Logo*/
#logo{
  display: block;
  margin: auto;
  width: 30%;
}

/*
--Button styling
*/
#button, #rotate, #resetbutton, #change{
  margin: auto;
  font-family: "American Typewriter", serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
}


/*
--Set up buttons and text label for placing Ships
*/
.setupButton{
  margin: auto;
  font-family: "American Typewriter", serif;
  font-weight: bold;
  border-radius: 5px;
}

label{
  margin: auto;
  font-family: "American Typewriter", serif;
  color: white;
}

/*
--Board styling
*/
#player1, #player2 {
  background-image: url('./Images/grid.png');
  background-color: grey;
  background-size: cover;
  position: fixed;

  border: outset;
  border-width: 5px;
  border-radius: 8px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 30px;
}

#player1{ left: 8%;}
#player2{ left: 56%;}

/*
--Instruction Text Block
*/
#inst {
  display: block;
  margin: auto;
  width: 30%;
  height: 50px;

  text-align: center;
  color:white;
  font-family: "American Typewriter", serif;
  font-size: 30px;
}

/*
--Board 'P1' and 'P2' icons
*/
#p1, #p2{
  display: block;
  float: left;
  margin-left: 15%;
  margin-right: 15%;
}
#p1{ height: 5%; width: 5%; float: left; margin-left: 15%;}
#p2{ height: 6%; width: 6%; float: right; margin-right: 15%;}

/*table*/
td {
    width: 40px;
    height: 40px;
    float: center;
    border-radius: 5px;
}

/*when a spot is empty*/
.empty {
    background-color: white;
}

.empty:hover {
    background:#eee;
}


.ship.hover {
    background-color: gray;

}

.ship {
    background-color: rgb(49, 49, 49);
}

/*
--Hit and Miss directions
*/
.hit {
  background-image: url(hit.jpg);
  background-size: cover;

}

.miss {
  background-image: url(miss.jpg);
  background-size: cover;
}


.bg {
  position: absolute;
  width: 300%;
  height: 500px;
  display: block;
  background-repeat: repeat-x;
  bottom: 0%;
  left: 0%;
  animation: moveRight 15s linear infinite;
}

.big {
  position: absolute;
  bottom: 0%;
  left: 24%;
  animation: suspension1 2s linear infinite;
}

.small {
  position: absolute;
  bottom: 0%;
  left: 16%;
  animation: suspension2 1s linear infinite;
}

/*animation*/
@keyframes moveRight{
    100%{
        transform: translateX(-2950px);
    }
}

@keyframes suspension1{
    100%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(2px);
    }
    0%{
        transform: translateY(-2px);
    }
}

@keyframes suspension2{
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(2px);
    }
    0%{
        transform: translateY(-1px);
    }
}
